<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dwayne.ifocus">

    <permission android:name="com.example.dwayne.ifocus.health.provider.READWRITE" />
    <uses-permission android:name="com.example.dwayne.ifocus.health.provider.READWRITE" />
    <permission android:name="com.example.dwayne.ifocus.budget.provider.READWRITE1" />
    <uses-permission android:name="com.example.dwayne.ifocus.budget.provider.READWRITE1" />
    <permission android:name="com.example.dwayne.ifocus.study.provider.READWRITE2" />
    <uses-permission android:name="com.example.dwayne.ifocus.study.provider.READWRITE2" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome" android:noHistory="true" android:excludeFromRecents="true"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".Register" android:noHistory="true" android:excludeFromRecents="true">
        </activity>
        <activity android:name=".LogIn" android:noHistory="true" android:excludeFromRecents="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".LogOut" />
        <activity android:name=".GFeedback" />
        <activity android:name=".VFeedback" />
        <activity android:name=".ThankYou" />
        <activity android:name=".Register_ok" android:noHistory="true" android:excludeFromRecents="true" />
        <activity android:name=".budget.CreateBudget" android:noHistory="true" android:excludeFromRecents="true" />


        <activity
            android:name=".ViewHistory"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="com.example.dwayne.ifocus.health.db.HealthProvider"
            android:authorities="com.example.dwayne.ifocus.health.provider"
            android:exported="true"
            android:readPermission="com.example.dwayne.ifocus.health.provider.READWRITE"
            android:writePermission="com.example.dwayne.ifocus.health.provider.READWRITE" />
        <provider
            android:name="com.example.dwayne.ifocus.budget.BudgetProvider"
            android:authorities="com.example.dwayne.ifocus.budget.provider"
            android:exported="true"
            android:readPermission="com.example.dwayne.ifocus.budget.provider.READWRITE1"
            android:writePermission="com.example.dwayne.ifocus.budget.provider.READWRITE1" />
        <provider
            android:name="com.example.dwayne.ifocus.study.db.StudyProvider"
            android:authorities="com.example.dwayne.ifocus.study.provider"
            android:exported="true"
            android:readPermission="com.example.dwayne.ifocus.study.provider.READWRITE2"
            android:writePermission="com.example.dwayne.ifocus.study.provider.READWRITE2" />


    </application>

</manifest>